# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
env/
.venv/
venv/

# OS/editor
.DS_Store
.idea/
.vscode/

# Outputs
output/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
