<div class="card-body" data-min-font="8"><span class="hilite">{{ c.rules_html | safe }}</span></div>
<div class="card-image-wrap anchor-bottom"><img src="{{ c.image_src }}" class="card-image"></div>



